<div>
    <div *ngIf="currentTestModel.id" class="edit-form">
      <h4>Tutorial</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentTestModel.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentTestModel.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label><strong>status:</strong></label>
          {{ currentTestModel.published ? "published" : "pending" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngif="currenttestmodel.published"
        (click)="updatepublished(false)"
      >
        unpublish
      </button>
      <button
        *ngif="!currenttutorial.published"
        class="badge badge-primary mr-2"
        (click)="updatepublished(true)"
      >
        publish
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteTestModel()">
        delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateTestModel()">
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentTestModel.id">
      <br />
      <p>Cannot access this Test Models...</p>
    </div>
  </div>
  